/*
PSEUDOCODE
Landing page-interactive, moving photos/animation
Booking page- selecting icons on page
Review page - submitting form, like and rating buttons
*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    color: wheat;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', 'sans-serif';
}

.seat{
    background-color: wheat;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row{
    display: flex;
}

.matatu-vehicle{
    margin: 20px;
}

.matatu-vehicle select{
    background-color: wheat;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seat.picked{
    background-color: lightcoral;
}

.seat.booked{
    background-color: orangered;
}

.seat:nth-of-type(1){
    margin-right: 18px;
}

.seat:not(.booked):hover{
    cursor: pointer;
    transform: scale (1.2);
}

.legend .seat:not(.booked):hover{
    cursor: default;
    transform: scale (1);
}

.legend {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: lightgray;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.legend li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.legend li small{
    margin-left: 10px;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: orange;
}